@import url("https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css?family=Rubik");
footer {
    background-color: #212530;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1em;    
}

a:link, a:visited {
    color: white;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	text-align: center;
	margin: 0 auto;
	color: white;
	font-family: 'Rubik', sans-serif;
	font-size: 14px;
}

body, h1, h2, h3, h4, h5, small { background-color: #292e31; } 

#js-bot-guilds {
  font-size: 25px;
}

.facolors-online, .facolors-offline {
  font-size: 20px;
}

.facolors-online {
  color: #2ecc40;
}

.facolors-offline {
  color: #ff4136;
}

#js-bot-online, #js-bot-votes, #js-bot-total-votes {
  font-size: 20px;
}

.inv-button:hover:before {
  content: 'add to your server!';
  font-size: 14px;
}

.menu-bg {
  background-image: url('/assets/blur.png');
}